@{
    ViewData["Title"] = "Home Page";
}


@if (User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>
    <form asp-controller="Users" asp-action="Index"  method="post">
        <button type="submit" class="btn btn-sm btn-danger">
            Users
        </button>
    </form>
    @*<form method="post" asp-controller="Account" asp-action="Logout">
        <input type="submit" value="Выход" />
    </form>*@
    @*<li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index">Users</a>
        </li>*@


}


@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@
